.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate,
.paging_simple_numbers  {
  padding: 10px 10px !important;
}

.dataTables_filter, .dataTables_paginate, .paging_simple_numbers {
  text-align: right !important;
}


.pagination {
  margin: 0px !important;
}