//.no-padding {
//  padding: 0 !important;
//}
//
//.padding-bottom-md {
//  padding-bottom: 1em;
//}
//
//.padding-left-md {
//  padding-left: 0.5em !important;
//}
//
//.dataTables_length,
//.dataTables_filter,
//.dataTables_info,
//.dataTables_paginate,
//.paging_simple_numbers  {
//  padding: 10px 10px;
//}
//
//.font-40 {
//  font-size: 40px;
//}
//

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer !important;
}

.no-overflow {
  overflow: hidden;
}

// fullcalendar
.fc-toolbar {
  padding: 15px !important;
}

.highcharts-container {
  font-family: "Open Sans", "Roboto" !important;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-wilayah-container {
  width: 20em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  margin: 60px 30px;
}

.padding-md {
  padding: 1em;
}

.profile-element {
  text-align: center;
}